@import "tailwindcss";

/* Anime Japan Theme Colors */
:root {
  --color-background-primary: #F6F7ED;
  --color-background: #101113;
  --color-primary: #EF0606;
  --color-secondary: #D3CCC7;
  --color-text: #10111F;
  
  font-family: 'Poppins', system-ui, -apple-system, sans-serif;
  background-color: var(--color-background-primary);
  color: var(--color-text);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

.hero {
  background-image: url('/frontend/public/japan_street.gif');
  background-size: cover;
  background-position: center;
}

.nav-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.nav-item:hover .nav-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.kinetic-border {
  border-bottom-width: 0;
  transition: border-bottom-width 0.1s ease-in-out;
}
.nav-item:hover .kinetic-border {
  border-bottom-width: 3px;
}